body {
    margin: 0;
    background-image: url(/Portfolio/back.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
}

.menu {
    display: inline-flex;
    justify-content: flex-end;
    width: 100vw;
}

header a {
    margin-right: 8vw;
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 900;
}

a img {
    width: 50px;
}

.main {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 60%;
    margin-top: 40px;
}

.images {
    background-color: yellowgreen;
    margin-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
}